:root {
  --bg-color-dark: #000000;
  --bg-color-light:  #ffffff;

}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F6F7F8;


}

/* Navigation bar */

.customNav {
  width: 100%;
  position: static;
  /* background: url("../images/abstract-gradient-neon-lights.jpg"); */
  background-color: transparent !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--bg-color-dark);
  z-index: 10;
  padding-bottom: 5px; 
}

h1 {
  font-size:large;
  font-weight: 500;
}


.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation links */
.customNav a {
  color: var(--bg-color-dark) !important;
}

.customNav a:visited {
  color: rgb(80, 78, 78) !important;
}

.customNav a:hover {
  color: rgb(255, 0, 144)!important;
}


/* hero image */
.heroBackground {
  background-image: url(../images/kelly-sikkema-HHtzGcZkRZY-unsplash.jpg);
  background-size: cover;
  background-position-y: bottom;
  min-height: 500px;
  height: calc(100vh - 25px);
  display:flex;
  align-items: center;
  justify-content: center; 
  box-shadow: 2px 2px 1px 1px rgba(85, 83, 83, .2);

}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: var(--bg-color-light);
  text-align: center;
  padding-top: 80px;
}

.headshot {
  width: 150px;
  height: 150px;
  /* margin-left: 30%-150px; */
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/headshot.png");
}

.sectionHeading h2 {
  text-align: center;
  padding-top: 50px;
}

/* cards */
.card {
  margin-bottom: 25px;
  border: none;
  box-shadow: 2px 2px 1px 1px rgba(85, 83, 83, .2);
}

.card-img-top-01,
.card-img-top-02,
.card-img-top-03,
.card-img-top-04,
.card-img-top-05,
.card-img-top-06 {
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-img-top-01 {
  background-image: url("../images/rishabh-dharmani-IvfAs3Qk64M-unsplash.jpg");
}

.card-img-top-02 {
  background-image: url("../images/horiseon.jpg");
}

.card-img-top-03 {
  background-image: url("../images/PepMan.png");
}

.card-img-top-04 {
  background-image: url("../images/ICEweb.png");
}

.card-img-top-05 {
  background-image: url("../images/DevPrax.png");
}

.card-img-top-06 {
  background-image: url("../images/covid-dance.gif");
}

.card-body {
  font-size: medium;
}

.skills-box h3, 
.about-box h3 {
  padding-top: 15px;
}

.skills-box p,
.about-box  p {
  /* padding-top: 15px; */
  padding-bottom: 40px;
}

/* All hyperlinks should have a hover effect.
All buttons should display a box shadow upon hover.. */


footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:10px;
}